body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -2%;
    
    
}
h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -2%;
}
h3{
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -2%;
}
.flexible-container{
    display: flex;
    padding: 60px 0 60px 0;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
p{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 160%;
letter-spacing: -0.02em;
padding: 0;

}
/*---star Food-banner css--*/
.half-width img{
    width: 100%;
}
.food-button{
    text-decoration: none;
    border-radius: 50px;
    background-image:linear-gradient(rgb(10, 110, 204), rgb(0, 217, 255));
    padding:21px 29px;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 500;
    margin-top: 40px;
    display: inline-block;
    
}
/*---end Food-banner css--*/

/*---start Food-banner css--*/
.about-section{
    background-image: url('images/shapes/Frame\ 57.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    
    
}
.about-section img{
    height: 530px;
    width: 80%;
    padding-left: 50px;
}

.about-section p {
    padding-bottom: 40px;
}
/*---end Food-banner css--*/

/*---start recpie-section css--*/
.recipie-all-item{
    display: flex;
    padding:3% 3% 0 3%;
    
}
.recipie-item{
    padding: 20px 20px 20px 20px;
    margin: 0 20px 0 20px;
    box-shadow: 5px 5px 20px  gray;
    border-radius:20px;

}
.recipie-item img{
    width: 100%;
   
}
/*---End recpie-section css--*/


/*---start rsubscribe-section css--*/
.subscribe-section{
    margin:8% 5% 5% 5%;
    box-shadow: 5px 5px 20px  gray;
    border-radius:20px;
}
.subscribe-socail-media{
    width: 33.3%;
    text-align: center;
    
}

/*---End rsubscribe-section css--*/

.footer-section{
    background-color: rgb(17, 17, 20);
    padding: 2%;
}
.footer-section h2{
    color: white;
    text-align: center;
    font-weight: 700;
    
    

}
.footer-section p{
    color: white;
    text-align: center;
    font-size: 18px;
}